body {
    background-color: #4f5b66;
}

.middle {
    margin-left: auto;
    margin-right: auto;
}

input[type='submit']{
    display: block;
    margin: auto;
}

input::-moz-placeholder {
    text-align: center;
}

p {
    text-align: center;
}

.blackBorder {
    border: 1px solid black;
}
